.error_page {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 3.5rem;
    margin-top: 4rem;
  }

  p {
    font-size: 2rem;
    margin: 4rem 0;
  }

  button {
    @include transition;
    color: $color-white;
    background-color: $color-button;
    font-size: 1.5rem;
    border: none;
    border-radius: 3rem;
    padding: 0.8rem 2rem;
    margin: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $color-button--hover;
    }
  }
}
