/* COLORS */

// main
$color-main: white;
$color-secondary: #031629;

$color-dark: #1e1e1e;
$color-grey: #adb0b4;
$color-white: #fff;
$color-black: #000;

// components
$color-button: #332ff4;
$color-button--hover: #507ff9;

// text
$color-text-main: #1e1e1e;
$color-text-secondary: white;
$color-text-link: #332ff4;
$color-text-error: #f42f36;

/* END COLORS */
